.btn {
    display: inline-block;
    float: left;
    padding: 10px 30px;
    background-color: var(--second-color);
    opacity: 0.9;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 -4px 8px #0008;
    text-align: center;
}
    .btn:hover {
        box-shadow: 0 4px 10px #000a;
        opacity: 1;
    }
    .btn.circle {
        padding: 10px;
        width: 40px;
        border-radius: 50%;
    }
    .btn.btn-main-color {
        background-color: var(--main-color);
        color: #fff;
    }
        .btn.btn-main-color:hover {
            background-color: var(--main-color);
            color: #fff;
        }
        .btn.btn-main-color.btn-hover-invert:hover {
            background-color: #fff;
            color: var(--main-color);
        }
    .btn.btn-second-color {
        background-color: var(--second-color);
        color: #fff;
    }
        .btn.btn-second-color.btn-hover-invert:hover {
            background-color: #fff;
            color: var(--second-color);
        }